<!doctype html>
<html>
  <head>
    <title>You fancy now!</title>
    <style>
      html, body {
        height: 100%;
        position: relative;
      }
      .container {
        font-family: sans-serif;
        font-size: 3em;
        line-height: 1em;
        position: absolute;
        top: 30%;
        width: 100%;
      }

      .container > p {
        width: 50%;
        margin: 0 auto;
      }

      .intro {
        font-size: 0.8em;
        text-align: center;
        font-weight: normal;
      }

      .result {
        text-align: center;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>