<img src="miss-piggy.jpg" class="piggy">

<h1 class="intro">Little Piggie</h1>

<form action="/piglatin" method="POST">
  <textarea name="words_to_convert" id="words" cols="30" rows="4" class="words"></textarea>

  <button type="submit">Oink oink!</button>
</form>